doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Holo Card {CSS, Animation} - DEV MODE
    link(rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css")
    link(rel="stylesheet" href="https://codepen.io/konstantindenerz/pen/KKxvdPq.css")
    link(rel="stylesheet" href="./style.css")
  
  body
    #scene.parallax-scene
      .holo-bg(data-depth="0.1")
      //- .holo-lines(data-depth="0.3") - Temporariamente desabilitado (usando Pixi.js agora)
      .logo(data-depth="0.6")

    button#logo-menu-toggle.logo-menu-toggle 🖼️
    #logo-menu.logo-menu

    //- Pixi.js v7 (versão estável)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.4.2/pixi.min.js")
    
    //- Pixi.js Filters (para BloomFilter e outros efeitos)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi-filters/5.3.0/pixi-filters.min.js")
    
    //- Parallax original
    script(src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js")

    //- Scripts do projeto
    script(src="./script.js")
    script(src="./pixiShining.js")
  
