doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Holo Card {CSS, Animation}
    link(rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css")
    link(rel="stylesheet" href="https://codepen.io/konstantindenerz/pen/KKxvdPq.css")
    link(rel="stylesheet" href="./style.css")
  
  body
    .card.rotate
      .circles
      .holo-bg
      .holo-lines
      .logo
    
    script(src="https://codepen.io/konstantindenerz/pen/KKxvdPq.js")
    script(src="./script.js")
  
