doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Holo Card {CSS, Animation} - DEV MODE
    link(rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css")
    link(rel="stylesheet" href="https://codepen.io/konstantindenerz/pen/KKxvdPq.css")
    link(rel="stylesheet" href="./style.css")
  
  body
    #scene.parallax-scene
      .holo-bg(data-depth="0.1")
      .holo-lines(data-depth="0.3")
      .logo(data-depth="0.6")

    button#logo-menu-toggle.logo-menu-toggle 🖼️
    #logo-menu.logo-menu

    script(src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js")

    script(src="./script.js")
  
