@property --ratio-x {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

@property --correction {
  syntax: "<percent>";
  inherits: true;
  initial-value: 0%;
}

@property --ratio-y {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}


:root {
  --labs-sys-color-surface: #444;
  --labs-sys-color-on-surface: hsl(0, 100%, 0%);
  --labs-sys-color-background: black;
  --labs-sys-radius-surface: 2rem;
  --c1: #022e82;
  --brand-light: #1a4ba3;
  --brand-lighter: #4a7bc8;
  --brand-dark: #011f5a;
  --brand-darker: #001233;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 7cqw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-image: url(./one-branco.svg);
    background-size: 60% auto;
    background-repeat: no-repeat;
    background-position: center;
    transform-style: preserve-3d;
    transition: all .2s linear;
    /*
    transform: perspective(100px)
      translateZ(calc(0.01rem + 0.5rem * var(--ratio-x)))
      translate(
        calc(0rem + var(--ratio-x) * -1rem),
        calc(0rem + var(--ratio-y) * -1rem)
      );
    */
  }
}

.holo-bg {
  position: absolute;
  border-radius: inherit;
  --size: 0;
  top: var(--size);
  right: var(--size);
  bottom: var(--size);
  left: var(--size);
  background: radial-gradient(
      ellipse at calc(90% - var(--ratio-x) * 20%)
        calc(0% - var(--ratio-y) * 20%),
      rgba(255, 255, 255, 0.7),
      var(--c1) 1%,
      var(--brand-light) 20%,
      transparent
    ),
    linear-gradient(
      110deg,
      var(--brand-darker) calc(10% - var(--ratio-x) * 20%),
      var(--brand-dark) calc(20% - var(--ratio-x) * 20%),
      var(--c1) calc(30% - var(--ratio-x) * 20%),
      var(--brand-light) calc(60% - var(--ratio-x) * 20%),
      transparent calc(100% - var(--ratio-x) * 20%),
      transparent
    );
  transition: all 0.2s linear, opacity 0.8s ease;
  mix-blend-mode: hard-light;
  opacity: 1;
}

.holo-lines {
  mask-image: url(./fundo.svg);
  mask-size: contain;
  mask-repeat: repeat;
  content: "";
  position: absolute;
  border-radius: inherit;
  --size: 0.001rem;
  top: var(--size);
  right: var(--size);
  bottom: var(--size);
  left: var(--size);
  pointer-events: none;
  background: linear-gradient(
    110deg,
    var(--brand-darker) calc(10% - var(--ratio-x) * 20% - var(--correction)),
    var(--brand-dark) calc(20% - var(--ratio-x) * 20% - var(--correction)),
    var(--c1) calc(30% - var(--ratio-x) * 20% - var(--correction)),
    var(--brand-light) calc(40% - var(--ratio-x) * 20% - var(--correction)),
    var(--brand-lighter) calc(50% - var(--ratio-x) * 20% - var(--correction)),
    transparent calc(60% - var(--ratio-x) * 20% - var(--correction)),
    var(--brand-dark) calc(70% - var(--ratio-x) * 20% - var(--correction)),
    var(--brand-darker) calc(80% - var(--ratio-x) * 20% - var(--correction))
  );
  transition: all 0.2s linear;
  pointer-events: none;
}

.card {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 0;
  color: var(--labs-sys-color-on-surface);
  --ratio-x: 1;
  --ratio-y: 0;
  transform-style: preserve-3d;
  transition: none;
  --correction: 100%;
  z-index: 0;
  &.rotate {
    animation: rotate 10s ease-in-out infinite;
    --correction: 10%;
  }
}

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Inter, "Helvetica Neue", Helvetica, sans-serif;
  background: radial-gradient(ellipse at 50% 50%, var(--brand-darker), black);
  color: var(--c1);
  overflow: hidden;
  position: relative;
}

html {
  min-height: 40rem;
}

* {
  box-sizing: border-box;
}

@keyframes rotate {
  from {
    --ratio-x: 0.6;
    --ratio-y: 0;
  }

  30% {
    --ratio-x: -0.75;
    --ratio-y: 0;
  }
  
  50% {
    --ratio-x: 0.25;
    --ratio-y: 0;
  }
  
  70% {
    --ratio-x: -0.75;
    --ratio-y: 0;
  }

  to {
    --ratio-x: 0.6;
    --ratio-y: 0;
  }
}
